@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  /* body{
    bg-gradient-to-b from-gray-300 via-[#d0bdebfc] to-gray-400
  } */

  @layer components {
    body {
      background-image: linear-gradient(
        235deg,
        hsl(265deg 53% 83%) 0%,
        hsl(241deg 64% 87%) 4%,
        hsl(223deg 77% 88%) 8%,
        hsl(213deg 81% 89%) 14%,
        hsl(208deg 82% 90%) 19%,
        hsl(213deg 84% 90%) 25%,
        hsl(218deg 85% 90%) 31%,
        hsl(225deg 83% 90%) 37%,
        hsl(217deg 92% 89%) 43%,
        hsl(202deg 94% 88%) 50%,
        hsl(190deg 81% 89%) 57%,
        hsl(174deg 72% 91%) 65%,
        hsl(186deg 79% 89%) 73%,
        hsl(202deg 100% 89%) 81%,
        hsl(222deg 100% 91%) 90%,
        hsl(273deg 61% 89%) 100%
      );
    }
  
   
  }
  
  body {
  
    @apply  text-foreground  dark:bg-gradient-to-bl dark:from-gray-900 dark:via-[#300171fc] dark:to-slate-900;
  }
  .middleh1{
   @apply flex justify-center items-center min-h-screen w-screen font-sans text-9xl;
  
  }
  
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 1rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}


  
 
  

}